@media only screen and (max-width: 600px) {
    #main-nav ul{
        display:none;
    }

    #main-nav .nav-items #ham{
display:inline;
    }


    #home{
        display:block;
        height:300px;
    }

    #home .intro{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #home .intro h1{
        margin-top:30px;
        font-size: 1.2rem;
    }

    #home .intro h3{
        font-size: 1.5rem;
    }
        

    #home .img-mobile{
        display:inline;
    }
    #home .img-mobile img{
       width:200px;
       
    }
    #home .img-home{
        display:none;
    }

    #about{
        display:inline-block;
        height:410px;
    }

    #about .about-me{
        padding:0.5;margin:0 10px;
    }

    #about .about-me h1{
        font-size: 1.4rem;
    }
    #about .about-me p{
        font-size: 1.2rem;
    }

    #about .img-about{
        display:none;
    }


    #projects .grid-projects{
        display:block;
    }

    #projects .grid-projects .card{
        margin-bottom:20px;
    }

    #projects .grid-projects .card p{
        font-size: 1rem;
    }
    #contact h1{
        margin:0;
    }
  }